<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{county.name}}</ion-title>
    <ion-buttons slot="end">
      <div class="ion-padding" (click)="toggleFavourite">
        <ion-icon *ngIf="!favouriteExists" name="heart-outline" (click)="toggleFavourite()"></ion-icon>
        <ion-icon *ngIf="favouriteExists" name="heart" (click)="toggleFavourite()"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src={{image}} alt="{{county.name}} background"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <b>Area</b><br/>{{county.area}} km<sup>2</sup>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <b>Population</b><br/>{{county.population}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <b>Description</b><br/>{{county.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
